html, body{
    background-image: url("../images/background1.jpg");
    background-size:auto;
    color:white;
    background-repeat: no-repeat;
}
.navBar{
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
.headerNav
{
    font-size: small;
    font-weight: 600;
    color: black;
}
.paragraph
{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}
.table1
{
    border: 2px;
    width: 100%;
    border-color: white;
    border-style: solid;
    padding-right: 300px;
    
}
.table1 tr th{
    padding-left: 15px;
}
.table1 tr td{
    padding: 13px;
    border: 2px white solid;
    border-collapse: collapse;
}
.form1
{
    border: 2px;
    border-color: white solid;
    background-color: whitesmoke;
    padding-left: 20px;
    border-radius: 3px;
    width: 100%;
}
.formHeadings{
    color: black;
    font-size: larger;
}
.button{
    width: 90%;
    font-size: larger;
    color: white;
    border-radius: 3px;
}
.signup {
    width: fit-content;
    background-color: whitesmoke;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    margin:0;
  }
.signup-form {
    width: 5000px;
    height: 20px;
    border: 1px solid black;
    margin-top: 30px;
  }