body{
    background-color: #FCEBB6;
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
    margin-left: 120px;
    margin-right: 120px;
    border-bottom: #221811 solid;
    border-right: #221811 solid;
    box-shadow: 3px 3px 3px #333;
    height: 100%;

}
header{
    text-align: center;
    background-color: #D2B48C;
    height: 100px;

}
h1{

    padding-top: 30px;
    padding-bottom: 10px;
}
h4{
    background-color:#D2B48C ;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
}
nav{
    text-align: center;
    height: 10px;
}
main{
 background-color:rgb(244, 244, 177) ;

}
.div1{
    margin-left: 40px;
}
.details{
    margin-left: 250px;
    height: 160px;
}
footer{
    background-color:#D2B48C ;
    text-align: center;
    padding: 10px 0px;

}
